<div ng-controller="PostsController">

    <div ng-show="showPosts">
        <div class="panel-heading ng-cloak visible-lg visible-md"><i class="fa fa-leanpub"></i> LATEST POSTS <span
                class="pull-right visible-lg">{{currentTime}}</span>
        </div>

        <ul class="list-unstyled animated fadeIn">
            <li class="list-unstyled post clearfix"
                ng-repeat="post in posts">
                <div class="card">

                    <div class="card-content">

                        <h2 class="ng-cloak text-outputs postHeading"><a ng-href="#!/post/{{post.postIndex}}"
                                                                         ng-click="goToTop()">{{post.postHeading}}</a>
                        </h2>

                        <h3 class="text-muted postBy">
                            <small class="ng-cloak"><a class="btn-link">{{post.authorName}}</a>
                                on
                                {{post.postDate}}
                            </small>
                            <br/>
                            <small class="text-muted ng-cloak">
                                {{post.theTimeAgo}}
                            </small>
                        </h3>

                        <div class="postContent">
                            <div ta-bind
                                 ng-model="post.postSummary"></div>
                        </div>


                    </div>
                    <div class="card-action clearfix">

                        <div class="pull-right">
                            <a ng-href="#!/post/{{post.postIndex}}"
                               ng-click="goToTop()"
                               class="btn btn-default btn-sm">Read More</a>
                        </div>

                    </div>
                </div>
            </li>

            <li class="list-unstyled clearfix">
                <div class="card">

                    <div class="card-content">

                        <h2 class="text-outputs postHeading">Relativistic dynamics - Solution to Sample Question </h2>

                        <h3 class="text-muted postBy">
                            <small><a class="btn-link">Salash Tolan</a> on {{currentTime}}
                            </small>
                        </h3>

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/adKP2CzKaFM" frameborder="0"
                                    allowfullscreen></iframe>
                        </div>


                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!--showing suggested posts-->
    <div ng-show="showSuggestedPosts">
        <div class="panel-heading ng-cloak"><i class="fa fa-leanpub"></i> SUGGESTED POSTS
            <span class="pull-right">
            <a ng-href="#!/home/1"><i class="fa fa-arrow-left"></i> Home</a>
            </span>
        </div>

        <ul class="list-unstyled animated fadeIn">
            <li class="list-unstyled post clearfix"
                ng-repeat="post in suggestedPosts">
                <div class="card">

                    <div class="card-content">

                        <h2 class="ng-cloak text-outputs postHeading"><a ng-href="#!/post/{{post.postIndex}}"
                                                                         ng-click="goToTop()">{{post.postHeading}}</a>
                        </h2>

                        <h3 class="text-muted postBy">
                            <small class="ng-cloak"><a class="btn-link">{{post.authorName}}</a>
                                on
                                {{post.postDate}}
                            </small>
                            <br/>
                            <small class="text-muted ng-cloak">
                                {{post.theTimeAgo}}
                            </small>
                        </h3>

                        <div class="postContent">
                            <div ta-bind
                                 ng-model="post.postSummary"></div>
                        </div>


                    </div>
                    <div class="card-action clearfix">

                        <div class="pull-right">
                            <a ng-href="#!/post/{{post.postIndex}}"
                               ng-click="goToTop()"
                               class="btn btn-default btn-sm">Read More</a>
                        </div>

                    </div>
                </div>
            </li>

            <li class="list-unstyled clearfix">
                <div class="card">

                    <div class="card-content">

                        <h2 class="text-outputs postHeading">Relativistic dynamics - Solution to Sample Question </h2>

                        <h3 class="text-muted postBy">
                            <small><a class="btn-link">Salash Tolan</a> on {{currentTime}}
                            </small>
                        </h3>

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/adKP2CzKaFM" frameborder="0"
                                    allowfullscreen></iframe>
                        </div>


                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>