<div class="panel panel-default"
     ng-controller="PostsController">

    <div class="panel-heading ng-cloak"><i class="fa fa-leanpub"></i> LATEST POSTS <span
            class="pull-right">{{currentTime}}</span>
    </div>

    <div class="panel-body">
        <ul class="list-unstyled animated fadeIn">
            <li class="list-unstyled clearfix"
                ng-repeat="post in posts">
                <div class="card">

                    <div class="card-content">

                        <h4 class="ng-cloak text-outputs"><a ng-href="#!/post/{{post.postIndex}}"
                                                             ng-click="goToTop()">{{post.postHeading}}</a></h4>

                        <h6 class="text-muted">
                            <small class="ng-cloak"><a href="#" target="_self">{{post.authorName}}</a>
                                on
                                {{post.postDate}}
                                <span class="pull-right">
                                    <a href="#!/post/{{post.postIndex}}"
                                       data-disqus-identifier="{{post.postUniqueCuid}}"
                                       ng-click="goToTop()">
                                    </a>
                                </span>
                            </small>
                            <br/>
                            <small class="text-muted ng-cloak">
                                {{post.theTimeAgo}}
                            </small>
                        </h6>

                        <div class="postContent">
                            <div ta-bind
                                 ng-model="post.postSummary"></div>
                        </div>


                    </div>

                    <div class="card-action clearfix">

                        <div class="pull-right">
                            <a href="#" target="new_blank" class="btn btn-default btn-sm">Pin</a>
                            <a href="#" target="new_blank" class="btn btn-default btn-sm">Edit</a>
                            <a href="#" target="new_blank" class="btn btn-default btn-sm">Delete</a>
                        </div>

                    </div>
                </div>
            </li>

            <li class="list-unstyled clearfix">
                <div class="card">

                    <div class="card-content">

                        <h4 class="text-outputs">Relativistic dynamics - Solution to Sample Question </h4>

                        <h6 class="text-muted">
                            <small><a href="#" target="_self">Salash Tolan</a> on {{currentTime}}
                                                <span class="pull-right"><a href="#" target="_self">37
                                                    comments</a></span>
                            </small>
                        </h6>

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/adKP2CzKaFM" frameborder="0"
                                    allowfullscreen></iframe>
                        </div>


                    </div>

                    <div class="card-action clearfix">

                        <div class="pull-right">
                            <a href="#" target="new_blank" class="btn btn-default btn-sm">Pin</a>
                            <a href="#" target="new_blank" class="btn btn-default btn-sm">Edit</a>
                            <a href="#" target="new_blank" class="btn btn-default btn-sm">Delete</a>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>