<!DOCTYPE html>
<html lang="en" ng-app="adminHomeApp" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <meta name="description" content="Negus Math - College Level Advanced Mathematics for Kenya Students"/>
    <meta name="author" content="Jovin Mwilanga"/>
    <!--ajax crawlable-->
    <meta name="fragment" content="!"/>

    <link rel="author" href="https://plus.google.com/+JovinMwilanga"/>

    <!--bootstrap-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/paper/bootstrap.min.css">

    <!--jquery ui-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">

    <!--animate.css-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css"/>

    <!--loads font awesome-->
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    <!--angular loading bar css-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.6.0/loading-bar.min.css"/>

    <!--toastr-->
    <link rel="stylesheet" href="/bower_components/toastr/toastr.min.css">

    <!--textAngular-->
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.3.0/src/textAngular.css'>

    <!--//ng-tags-input-->
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/ng-tags-input/2.3.0/ng-tags-input.min.css'>


    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

    <!-- loads custom css file -->
    <link rel="stylesheet" href="/public/cssmin/main.min.css">
    <link rel="stylesheet" href="/public/cssmin/cards.min.css">
    <link rel="stylesheet" href="/public/cssmin/admin/admin_home.min.css">

    <title>Negus Math - College Level Advanced Mathematics for Kenya Students</title>
</head>

<body>

<!--start of nav-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--button to target the navbar-right which will appear on collapse of navbar items-->
            <button type="button" class='navbar-toggle collapsed' data-toggle="collapse"
                    data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href ng-click="goToTop();"
               class="navbar-brand">
                <i class="fa fa-leanpub"></i>
                NEGUS
            </a>
        </div>

        <!--this navbar will be collapsed on mobile-->
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right ng-cloak">

                <li ng-class="{'active': currentState == 'home'}">
                    <a ng-href="/#!/home/1">Home
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="users">Users
                    </a>
                </li>

                <li class="dropdown">

                    <a href="#"
                       target="_self"
                       class="dropdown-toggle" data-toggle="dropdown">
                        {{userData.firstName}}<b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"
                               target="_self"
                               ng-click="logoutClient()">Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <a type="button"
               class="btn btn-primary btn-sm navbar-btn pull-right"
               href ng-click="showNewPost(); goToTop();"
               role="button">
                <i class="fa fa-pencil"></i> New Post
            </a>

        </div>
    </div>
</nav>
<!--end of nav-->

<div class="ng-cloak">

    <div id="top"></div>

    <div class="container"
         id="universalBanner">
        <div ng-class="bannerClass"
             ng-if="showBanner">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>{{bannerMessage}}</strong>
        </div>
    </div>

    <!--&lt;!&ndash;search box&ndash;&gt;-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<form id="site-search">-->
                <!--<div class="input-group">-->
                    <!--<input type="text"-->
                           <!--class="form-control"-->
                           <!--placeholder="Search"-->
                           <!--ng-model="mainSearchModel.queryString">-->
                    <!--<span class="input-group-btn">-->
                        <!--<button class="btn btn-default"-->
                                <!--type="button"-->
                                <!--ng-click="performMainSearch()"><i class="fa fa-search"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
            <!--</form>-->

        <!--</div>-->
    <!--</div>-->

    <div class="container">
        <div class="row">
            <form id="site-search">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Search"
                           ng-model="mainSearchModel.queryString">
                    <span class="input-group-addon" id="search-addon">
                        <a href ng-click="performMainSearch()"><i class="fa fa-search"></i></a></span>
                </div>
            </form>
        </div>
    </div>

    <section id="newPostSection" ng-show="newPost" class="ng-cloak">
        <div class="container">
            <div class="row">
                <div id="newPost">

                    <div class="panel panel-default">

                        <div class="panel-heading"><i class="fa fa-leanpub"></i> NEW POST <span class="pull-right">{{currentTime}}</span>
                        </div>

                        <div class="panel-body">

                            <div ng-class="newPostBannerClass"
                                 ng-if="showNewPostBanner">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>{{newPostBannerMessage}}</strong>
                            </div>

                            <ul class="list-unstyled animated fadeIn">
                                <li class="list-unstyled clearfix">
                                    <div class="card">

                                        <div class="card-content">

                                            <form name="newPostForm">

                                                <div class="padding-bottom-15">

                                                    <!--Heading field-->
                                                    <div class="form-group">
                                                        <label for="postHeading"><strong>Heading</strong><span
                                                                    class="required-star">*</span></label>
                                                        <input type="text"
                                                               class="form-control"
                                                               id="postHeading"
                                                               placeholder="Enter heading"
                                                               ng-model="newPostModel.postHeading"
                                                               ng-minlength="10"
                                                               required
                                                               ng-disabled="isLoading || universalDisable"
                                                               name="postHeading">

                            <span class="form-error-notice"
                                  ng-show="newPostForm.postHeading.$error.required"
                                  ng-if='newPostForm.postHeading.$dirty'>
                                <small>This is a required field:</small>
                            </span>
                            <span class="form-error-notice"
                                  ng-show="newPostForm.postHeading.$error.minlength"
                                  ng-if='newPostForm.postHeading.$dirty'>
                                <small>Minimum length required is 10:</small>
                            </span>
                                                    </div>

                                                </div>

                                                <div class="form-group">
                                                    <p><strong>Content</strong><span class="required-star">*</span></p>

                                                    <text-angular
                                                            name="newPostMainContent"
                                                            ng-model="newPostModel.postContent"></text-angular>
                                                </div>

                                                <div class="form-group">
                                                    <p><strong>Post Summary</strong><span class="required-star">*</span>
                                                    </p>

                                                    <text-angular
                                                            name="newPostSummary"
                                                            ng-model="newPostModel.postSummary">
                                                    </text-angular>

                                                    <span class="form-error-notice"
                                                          ng-show="checkIfPostSummaryIsEmpty()">
                                                <small>This is a required field:</small>
                                                </span>

                                                <span class="form-error-notice"
                                                      ng-show="checkPostSummaryMaxLength(2000)">
                                                <small>Maximum html length required is 2000:</small>
                                                </span>
                                                    <br/>
                                                    <small class="form-help-notice">The post summary represents the post
                                                        in the list
                                                        of all posts. Limited to 2000 characters. Users will be able to
                                                        click a 'read more' link to see the main content of the post
                                                    </small>
                                                </div>

                                                <div class="form-group">
                                                    <p><strong>Tags</strong></p>

                                                    <tags-input name="newPostTags"
                                                                ng-model="newPostModel.postTags"
                                                                placeholder="Add tags"
                                                                min-length="3"
                                                                max-length="30"
                                                                max-tags="5">
                                                        <!--<auto-complete source="loadTags($query)"></auto-complete>-->
                                                    </tags-input>
                                                    <small class="form-help-notice">Enter up to ten tags</small>

                                                </div>

                                            </form>

                                        </div>

                                        <div class="card-action clearfix ng-cloak">

                                            <div class="pull-right">
                                                <a class="btn btn-default btn-sm"
                                                   href ng-click="hideNewPost(); goToTop();">Save
                                                    Draft</a>
                                                <a class="btn btn-default btn-sm"
                                                   href ng-click="hideNewPost(); goToTop();">Cancel</a>
                                                <a class="btn btn-default btn-sm"
                                                   href ng-click="submitNewPost(); goToTop();"
                                                   ng-disabled="newPostForm.$invalid || postSummaryIsEmpty || postSummaryHasExceededMaximum">POST</a>
                                            </div>

                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="postsSection">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 ng-cloak" id="postStream">

                    <div ui-view></div>

                </div>

                <div class="col-lg-4 col-lg-offset-0 hideMobileLearning hidden-xs hidden-sm"
                     id="sideBarColumn">

                    <div class="panel panel-default ng-cloak">

                        <div class="panel-heading"><i class="fa fa-youtube-play"></i> THIS WEEK'S VIDEOS
                        </div>

                        <div class="panel-body">
                            <ul class="list-unstyled animated fadeIn videosThisWeek">
                                <li class="list-unstyled clearfix post">
                                    <div class="card">

                                        <div class="card-content">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item"
                                                        src="https://www.youtube.com/embed/adKP2CzKaFM" frameborder="0"
                                                        allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-unstyled clearfix post">
                                    <div class="card">

                                        <div class="card-content">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item"
                                                        src="https://www.youtube.com/embed/adKP2CzKaFM" frameborder="0"
                                                        allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default ng-cloak"
                         ng-controller="HotController"
                         ng-if="hotThisWeek.length != 0">

                        <div class="panel-heading"><i class="fa fa-fire"></i> HOT THIS WEEK
                        </div>

                        <div class="panel-body">

                            <ul class="list-group hotThisWeek">
                                <li class="list-group-item post"
                                    ng-repeat="hotPost in hotThisWeek">
                                    <p class="ng-cloak text-outputs">
                                        <a ng-href="/#!/post/{{hotPost.postIndex}}"
                                           ng-click="goToTop()">{{hotPost.postHeading}}
                                        </a> <br/>
                                    <h6 class="text-muted">
                                        <small class="ng-cloak"><a class="btn-link">{{hotPost.authorName}}</a>
                                            on
                                            {{hotPost.postDate}}
                                        </small>
                                        <br/>
                                        <small class="text-muted ng-cloak">
                                            {{hotPost.theTimeAgo}}
                                        </small>
                                    </h6>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>


    <section id="contact"
             class="hideMobileLoading hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm"
                          name="contactForm">
                        <div class="row">
                            <div class="container text-center">
                                <div class="col-lg-12 text-center">

                                    <div class="form-group">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Your Name *"
                                               ng-model="contactUsModel.name"
                                               ng-minlength="4"
                                               ng-maxlength="30"
                                               required
                                               ng-disabled="isLoading || universalDisable"
                                               name="name">
                                        <span class="form-error-notice"
                                              ng-show="contactForm.name.$error.required"
                                              ng-if='contactForm.name.$dirty'><small>This is a
                                                required field:
                                            </small>
                                        </span>
                                        <span class="form-error-notice"
                                              ng-show="contactForm.name.$error.minlength"
                                              ng-if='contactForm.name.$dirty'><small>Minimum
                                                length required is 2:
                                            </small>
                                        </span>
                                        <span class="form-error-notice"
                                              ng-show="contactForm.name.$error.maxlength"
                                              ng-if='contactForm.name.$dirty'><small>Maximum
                                                length required is 30:
                                            </small>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <input type="email"
                                               class="form-control"
                                               placeholder="Your Email *"
                                               ng-model="contactUsModel.email"
                                               ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i"
                                               required
                                               ng-disabled="isLoading || universalDisable"
                                               name="email">
                                        <span class="form-error-notice"
                                              ng-show="contactForm.email.$error.required"
                                              ng-if='contactForm.email.$dirty'><small>This is a
                                                required field:
                                            </small>
                                        </span>
                                        <span class="form-error-notice"
                                              ng-show="contactForm.email.$error.pattern"
                                              ng-if='contactForm.email.$dirty'><small>This is not a valid email:
                                            </small>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <textarea class="form-control"
                                                  placeholder="Your Message *"
                                                  ng-model="contactUsModel.message"
                                                  ng-required
                                                  ng-disabled="isLoading || universalDisable"
                                                  name="message">
                                        </textarea>
                                        <span class="form-error-notice"
                                              ng-show="contactForm.message.$error.required"
                                              ng-if='contactForm.message.$dirty'><small>This is a
                                                required field:
                                            </small>
                                            </span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <!--<button class="btn btn-xl"-->
                                <!--ng-disabled="contactForm.$invalid"-->
                                <!--ng-click="sendContactUs()">Send Message-->
                                <!--</button>-->
                                <button class="btn btn-xl"
                                        ng-click="sendContactUs()">Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="hideMobileLoading hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12 clearfix text-center">
                    <ul class="list-unstyled quicklinks">
                        <li class="copyright">Copyright &copy; 2015 NegusMath Inc</li>
                        <li><a href="#" target="_self">Privacy Policy</a></li>
                        <li><a href="#" target="_self">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</div>


<!-- JAVASCRIPT -->

<!-- socket.io javascript -->
<script type="text/javascript" src="socket.io/socket.io.js"></script>

<!-- jquery -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!--jquery-ui-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<!--AngularJS SCRIPTS-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-animate.min.js"></script>

<!--angular ui-->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

<!--angular analytics-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angulartics/0.17.2/angulartics.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angulartics/0.17.2/angulartics-ga.min.js"></script>


<!-- Bootstrap.js -->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!--angular loading bar js-->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.6.0/loading-bar.min.js"></script>

<!-- loads respond.js: enables responsive web designs in browsers that don't support CSS3 Media Queries - in particular, Internet Explorer 8 and under. -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

<!--angular-ui-router-->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>

<!--toastr js-->
<script type="text/javascript" src="/bower_components/toastr/toastr.min.js"></script>

<!--moment js-->
<script type="text/javascript"
        src="/bower_components/angular-moment/angular-moment.min.js"></script>
<script type="text/javascript"
        src="/bower_components/moment/min/moment.min.js"></script>

<!--angular scroll-spy-->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-scroll/0.6.5/angular-scroll.min.js"></script>

<!--angular utils-disqus-->
<script type="text/javascript"
        src="/bower_components/angular-utils-disqus/dirDisqus.js"></script>

<!--ng-fx animations-->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
<script type="text/javascript"
        src="/bower_components/ngFx/dist/ngFx.min.js"></script>

<!--text angular-->
<script type="text/javascript"
        src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.3.0/dist/textAngular.min.js'></script>
<script type="text/javascript"
        src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.3.0/dist/textAngular-sanitize.min.js'></script>
<script type="text/javascript"
        src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.3.0/dist/textAngular-rangy.min.js'></script>

<!--ng-tags input-->
<script type="text/javascript"
        src='//cdnjs.cloudflare.com/ajax/libs/ng-tags-input/2.3.0/ng-tags-input.min.js'></script>

<script type="text/javascript" src="/public/angular_assets/adminHomeAppMin/concatenated.min.js"></script>
<!--<script type="text/javascript" src="/public/angular_assets/adminHomeAppMin/concatenated.js"></script>-->

</body>
</html>