<section id="contact" contact-us-scope>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form id="contactForm"
                      name="contactForm">
                    <div class="row">
                        <div class="container text-center">
                            <div class="col-xs-12 text-center">

                                <div class="form-group">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Your Name *"
                                           ng-model="contactUsModel.name"
                                           ng-minlength="4"
                                           ng-maxlength="30"
                                           required
                                           name="name">
                                        <span class="form-error-notice"
                                              ng-show="contactForm.name.$error.required"
                                              ng-if='contactForm.name.$dirty'><small>This is a
                                                required field:
                                            </small>
                                        </span>
                                        <span class="form-error-notice"
                                              ng-show="contactForm.name.$error.minlength"
                                              ng-if='contactForm.name.$dirty'><small>Minimum
                                                length required is 2:
                                            </small>
                                        </span>
                                        <span class="form-error-notice"
                                              ng-show="contactForm.name.$error.maxlength"
                                              ng-if='contactForm.name.$dirty'><small>Maximum
                                                length required is 30:
                                            </small>
                                        </span>
                                </div>

                                <div class="form-group">
                                    <input type="email"
                                           class="form-control"
                                           placeholder="Your Email *"
                                           ng-model="contactUsModel.email"
                                           ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i"
                                           required
                                           ng-disabled="isLoading || universalDisable"
                                           name="email">
                                        <span class="form-error-notice"
                                              ng-show="contactForm.email.$error.required"
                                              ng-if='contactForm.email.$dirty'><small>This is a
                                                required field:
                                            </small>
                                        </span>
                                        <span class="form-error-notice"
                                              ng-show="contactForm.email.$error.pattern"
                                              ng-if='contactForm.email.$dirty'><small>This is not a valid email:
                                            </small>
                                        </span>
                                </div>

                                <div class="form-group">
                                        <textarea class="form-control"
                                                  placeholder="Your Message *"
                                                  ng-model="contactUsModel.message"
                                                  ng-required
                                                  ng-disabled="isLoading || universalDisable"
                                                  name="message">
                                        </textarea>
                                        <span class="form-error-notice"
                                              ng-show="contactForm.message.$error.required"
                                              ng-if='contactForm.message.$dirty'><small>This is a
                                                required field:
                                            </small>
                                            </span>
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <button class="btn btn-xl"
                                    ng-click="sendContactUs()">Send Message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>