<!--start of nav-->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container no-padding-side">
        <div class="navbar-header">
            <a href ng-click="$root.main.goToTop();"
               target="_self"
               class="navbar-brand">
                <i class="fa fa-leanpub"></i>
                NEGUS
            </a>
        </div>


        <div class="navbar no-border-side">
            <ul class="nav navbar-nav navbar-right">

                <% if(state == 'home') { %>
                <li class="active">
                    <% } else { %>
                <li>
                    <% } %>
                    <a href="/"
                       target="_self">Home
                    </a>
                </li>

                <% if (theUser && theUser.isRegistered && theUser.isAdmin && accountStatusBanner.accountStatus) { %>
                <% if(state == 'manage-users') { %>
                <li class="active">
                    <% } else { %>
                <li>
                    <% } %>
                    <a href="/manage/users"
                       target="_self">Users</a>
                </li>

                <% } %>

                <li>
                    <a href="/index"
                       target="_self">About</a>
                </li>

                <% if (theUser && theUser.isRegistered) { %>

                <li class="dropdown">

                    <a href="#"
                       target="_self"
                       class="dropdown-toggle" data-toggle="dropdown">
                        <%= theUser.firstName %>
                        <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                        <li logout-scope>
                            <a href="#"
                               target="_self"
                               ng-click="logoutClient()">Logout
                            </a>
                        </li>
                    </ul>
                </li>

                <% } %>

            </ul>

            <% if (theUser && theUser.isRegistered && theUser.isAdmin && accountStatusBanner.accountStatus) { %>
            <% if(state != 'new-post'){ %>
            <div>
                <a type="button"
                   class="btn btn-primary btn-sm navbar-btn pull-right"
                   href="/new/Post"
                   target="_self"
                   role="button">
                    <i class="fa fa-pencil"></i> New Post
                </a>
            </div>
            <% } %>

            <% if(state == 'new-post'){ %>
            <div>
                <a type="button"
                   class="btn btn-warning btn-sm navbar-btn pull-right"
                   role="button"
                   ng-click="$root.back();"
                   target="_self">
                    <i class="fa fa-pencil"></i> Cancel
                </a>
            </div>
            <% } %>

            <% } %>

        </div>

    </div>
</nav>
<!--end of nav-->