<script type="text/ng-template" id="views/all/partials/templates/post_heading.html">
    <div class="postHeading">
        <h2 class="text-outputs postHeading"><a href="{{post.postPath}}"
                                                ng-bind-html="post.postHeading"></a>
    </div>
</script>