<div universal-banner-scope>
    <div class="container no-padding"
         ng-if="universalBanner.show">
        <div class="row">
            <div class="col-xs-12 allBannerOuterDivs ng-cloak">
                <div ng-class="universalBanner.bannerClass">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong ng-bind="universalBanner.msg"></strong>
                </div>
            </div>
        </div>
    </div>
</div>