<div class="container no-padding-left">
    <div class="row">

        <div class="col-xs-8 postStream no-padding">
            <% include ../../../../search-pre/search_results.ejs %>
        </div>

        <div class="col-xs-4 sideBarColumn col-xs-offset-0 no-padding-right">
            <% include ../../components-pre/sideBar_colum_videos_popular.ejs %>
        </div>
    </div>

</div>