<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="UniversalController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <meta name="description" content="Negus Math - College Level Advanced Mathematics for Kenya Students"/>
    <meta name="author" content="Jovin Mwilanga"/>
    <!--ajax crawlable-->
    <meta name="fragment" content="!"/>

    <link rel="author" href="https://plus.google.com/+JovinMwilanga"/>

    <% include ../scripts/head.ejs %>

    <!-- loads custom css file -->
    <link rel="stylesheet" href="/public/cssmin/main/main.min.css"/>

    <title><%= title %></title>
</head>

<body ng-controller="MainController">

<notifications-bar class="notifications" closeIcon="fa fa-times-circle"></notifications-bar>

<div toastr-directive></div>

<% include partials/components-pre/top_nav.ejs %>

<div>

    <div id="top"></div>

    <div class="container no-padding">
        <% include ../general/templates-pre/account_status.ejs %>
    </div>

    <% include partials/templates-pre/universal_banner.ejs %>

    <!--homepage view-->
    <% if (state == 'home') { %>
    <% include partials/templates-pre/universal_search_box.ejs %>
    <% include partials/views/home-pre/home.ejs %>
    <% } %>

    <!--post view-->
    <% if (state == 'post') { %>
    <% include partials/templates-pre/universal_search_box.ejs %>
    <% include partials/views/home-pre/post.ejs %>
    <% } %>

    <!--new-post view-->
    <% if (state == 'new-post') { %>
    <% include partials/templates-pre/universal_search_box.ejs %>
    <% include partials/views/home-pre/new_post.ejs %>
    <% } %>

    <!--edit-post view-->
    <% if (state == 'edit-post') { %>
    <% include partials/templates-pre/universal_search_box.ejs %>
    <% include partials/views/home-pre/edit_post.ejs %>
    <% } %>

    <!--search-posts view-->
    <% if (state == 'search-posts') { %>
    <% include partials/templates-pre/universal_search_box.ejs %>
    <% include partials/views/home-pre/post_search_results.ejs %>
    <% } %>

    <!--user-management view-->
    <% if (state == 'manage-users') { %>
    <% include partials/views/users-pre/users.ejs %>
    <% } %>

</div>


<!--including all templates-->
<% include partials/templates/admin_users.ejs %>
<% include partials/templates/all_users.ejs %>
<% include partials/templates/banned_users.ejs %>
<% include partials/templates/edit_post_uploader.ejs %>
<% include partials/templates/loading_banner.ejs %>
<% include partials/templates/new_post_banner.ejs %>
<% include partials/templates/new_post_uploader.ejs %>
<% include partials/templates/pager.ejs %>
<% include partials/templates/post_content.ejs %>
<% include partials/templates/post_summary.ejs %>
<% include partials/templates/post_tags.ejs %>
<% include partials/templates/simple_uploader.ejs %>
<% include partials/templates/suggested_posts.ejs %>
<% include partials/templates/unApproved_users.ejs %>
<% include partials/templates/user_display.ejs %>
<% include partials/templates/user_statistics.ejs %>

<% include partials/views/home/edit_post.ejs %>
<% include partials/views/home/full_post.ejs %>
<% include partials/views/home/new_post.ejs %>
<% include partials/views/home/post_stream.ejs %>

<!-- JAVASCRIPT -->

<% include ../scripts/bottom.ejs %>

<!--<script type="text/javascript" src="/public/angular_assets/aMainAppMin/concatenated.js"></script>-->
<script type="text/javascript" src="/public/angular_assets/aMainAppMin/concatenated.min.js"></script>

</body>
</html>