<div class="row ng-cloak"
     ng-if="accountStatusBanner.show">
    <div class="col-lg-12 allBannerOuterDivs ng-cloak">
        <div ng-class="accountStatusBanner.bannerClass">
            <strong ng-bind="accountStatusBanner.msg"></strong>

            <div ng-show="accountStatusBanner.showResendEmail">
                <p>Didn't get an email? <a style="text-decoration: underline" href
                                           ng-click="resendConfirmationEmail(theUser.uniqueCuid)">Resend
                    email</a></p>
            </div>
        </div>
    </div>
</div>