<div>
    <div>
        <div class="panel-heading"><i class="fa fa-leanpub"></i> LATEST POSTS <span
                class="pull-right hidden-xs hidden-sm"
                ng-bind="$root.main.currentTime"></span>
        </div>

        <div ng-repeat="(pageNumber, posts) in allPosts">
            <div ng-repeat="post in posts">
                <div class="card">

                    <div class="card-content">

                        <h2 class="text-outputs postHeading"><a ng-href="{{post.postPath}}"
                                                                ng-click="$root.main.goToTop()"
                                                                ng-bind-html="post.postHeading"></a>
                        </h2>

                        <h3 class="text-muted postBy">
                            <small>
                                <a class="btn-link"
                                   ng-bind-html="post.authorName"></a> on <span
                                    ng-bind-html="post.postDate"></span>
                            </small>
                            <br/>
                            <small class="text-muted"
                                   ng-bind-html="post.timeAgo">
                            </small>
                        </h3>

                        <div post-summary model="post.postSummary"></div>


                    </div>
                    <div class="card-action clearfix">

                        <div class="pull-right">
                            <a ng-href="{{post.postPath}}"
                               ng-click="$root.main.goToTop()"
                               class="btn btn-default btn-sm">Read More</a>
                        </div>

                    </div>
                </div>
                <br/>
            </div>

            <!--index + 1 since it starts from 0 and my pages start from 1-->
            <div ng-hide="allPosts.hasOwnProperty($index + 2) || allPosts[$index + 1].length == 0 || allPosts[$index + 1].length < 10"
                 class="text-center">
                <a href ng-click="showMore($index + 2)"
                   class="btn btn-sm btn-info">Show More</a>
            </div>

            <div class="alert alert-success"
                 ng-show="allPosts[$index + 1].length == 0 || allPosts[$index + 1].length < 10">
                <strong>No more posts to show...</strong>
            </div>
        </div>

        <!--<li>-->
        <!--<div post-stream-pager></div>-->
        <!--</li>-->
    </div>
</div>


<div>
    <br/>
    <br/>
    <br/>
    <br/>

    <div suggested-posts></div>
</div>