<div class="container"
     ng-show="userLoginState == 'register'">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Create a new account</h2>
        </div>
    </div>

    <div class="row">
        <div class="container">

            <div class="col-lg-12">

                <div class="row">
                    <div class="col-lg-12 allBannerOuterDivs ng-cloak">
                        <div ng-class="registrationBannerClass"
                             ng-if="showRegistrationBanner">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <strong ng-bind="registrationBannerMessage"></strong>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <form name="registrationForm"
                          id="registrationForm">

                        <!--Email field-->
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   placeholder="username@domain.com"
                                   ng-model="registrationDetails.email"
                                   ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i"
                                   required
                                   ng-disabled="$root.universalDisable"
                                   name="email">
            <span class="form-error-notice"
                  ng-show="registrationForm.email.$error.required"
                  ng-if='registrationForm.message.$dirty'>
                <small>This is a required field:</small>
            </span>
            <span class="form-error-notice"
                  ng-show="registrationForm.email.$error.pattern"
                  ng-if='registrationForm.email.$dirty'>
                <small>This is not a valid email</small>
            </span>
                        </div>


                        <!--FirstName field-->
                        <div class="form-group">
                            <label for="firstName">First name</label>
                            <input type="text"
                                   class="form-control"
                                   id="firstName"
                                   placeholder="Jane"
                                   ng-model="registrationDetails.firstName"
                                   ng-minlength="2"
                                   ng-maxlength="30"
                                   required
                                   ng-disabled="$root.universalDisable"
                                   name="firstName">
            <span class="form-error-notice"
                  ng-show="registrationForm.firstName.$error.required"
                  ng-if='registrationForm.firstname.$dirty'>
                <small>This is a required field:</small>
            </span>
            <span class="form-error-notice"
                  ng-show="registrationForm.firstName.$error.minlength"
                  ng-if='registrationForm.firstname.$dirty'>
                <small>Minimum length required is 2:</small>
            </span>
            <span class="form-error-notice"
                  ng-show="registrationForm.firstName.$error.maxlength"
                  ng-if='registrationForm.firstname.$dirty'>
                <small>Maximum length required is 30:</small>
            </span>
                        </div>

                        <!--LastName field-->
                        <div class="form-group">
                            <label for="LastName">Last name</label>
                            <input type="text"
                                   class="form-control"
                                   id="LastName"
                                   placeholder="Doe"
                                   ng-model="registrationDetails.lastName"
                                   ng-minlength="2"
                                   ng-maxlength="30"
                                   required
                                   ng-disabled="$root.universalDisable"
                                   name="lastName">
            <span class="form-error-notice"
                  ng-show="registrationForm.lastName.$error.required"
                  ng-if='registrationForm.lastName.$dirty'>
                <small>This is a required field:</small>
            </span>
            <span class="form-error-notice"
                  ng-show="registrationForm.lastName.$error.minlength"
                  ng-if='registrationForm.lastName.$dirty'>
                <small>Minimum length required is 2:</small>
            </span>
            <span class="form-error-notice"
                  ng-show="registrationForm.lastName.$error.maxlength"
                  ng-if='registrationForm.lastName.$dirty'>
                <small>Maximum length required is 30:</small>
            </span>
                        </div>

                        <!--Username field-->
                        <div class="form-group">
                            <label for="username">Public username</label>
                            <input type="text"
                                   class="form-control"
                                   id="username"
                                   placeholder="JaneDoe"
                                   ng-model="registrationDetails.username"
                                   ng-minlength="4"
                                   ng-maxlength="10"
                                   ng-pattern="/^[a-zA-Z0-9_]*$/"
                                   required
                                   ng-disabled="$root.universalDisable"
                                   name="username">
            <span class="form-error-notice"
                  ng-show="registrationForm.username.$error.required"
                  ng-if='registrationForm.username.$dirty'>
                <small>This is a required field:</small>
            </span>
            <span class="form-error-notice"
                  ng-show="registrationForm.username.$error.minlength"
                  ng-if='registrationForm.username.$dirty'>
                <small>Minimum length required is 4:</small>
            </span>
            <span class="form-error-notice"
                  ng-show="registrationForm.username.$error.maxlength"
                  ng-if='registrationForm.username.$dirty'>
                <small>Maximum length required is 10:</small>
            </span>
            <span class="form-error-notice"
                  ng-show="registrationForm.username.$error.pattern"
                  ng-if='registrationForm.username.$dirty'>
                <small>Only letters, numbers and underscores allowed:</small>
            </span>
                        </div>

                        <!--password field-->
                        <div class="form-group">
                            <label for="clientUpdatePassword1">New Password</label>
                            <input type="password"
                                   name="password1"
                                   class="form-control"
                                   id="clientUpdatePassword1"
                                   placeholder=""
                                   ng-model="registrationDetails.password1"
                                   ng-minlength="4"
                                   ng-maxlength="20"
                                   ng-pattern="/^[a-zA-Z0-9_]*$/"
                                   required
                                   ng-disabled="$root.universalDisable">
                    <span class="form-error-notice"
                          ng-show="registrationForm.password1.$error.required"
                          ng-if='registrationForm.password1.$dirty'>
                        <small>This is a required field:</small>
                    </span>
                    <span class="form-error-notice"
                          ng-show="registrationForm.password1.$error.minlength"
                          ng-if='registrationForm.password1.$dirty'>
                        <small>Minimum length required is 4:</small>
                    </span>
                    <span class="form-error-notice"
                          ng-show="registrationForm.password1.$error.maxlength"
                          ng-if='registrationForm.password1.$dirty'>
                        <small>Maximum length required is 20:</small>
                    </span>
                    <span class="form-error-notice"
                          ng-show="registrationForm.password1.$error.pattern"
                          ng-if='registrationForm.password1.$dirty'>
                        <small>Only letters, numbers and underscores allowed:</small>
                    </span>
                    <span class="form-error-notice"
                          ng-show="registrationDetails.password1 != registrationDetails.password2"
                          ng-if="registrationForm.password1.$dirty && registrationForm.password2.$dirty">
                        <small>Passwords do not match:</small>
                    </span>
                        </div>

                        <!--confirm password-->
                        <div class="form-group">
                            <label for="clientUpdatePassword2">Confirm Password</label>
                            <input type="password"
                                   name="password2"
                                   class="form-control"
                                   id="clientUpdatePassword2"
                                   placeholder=""
                                   ng-model="registrationDetails.password2"
                                   ng-minlength="4"
                                   ng-maxlength="20"
                                   ng-pattern="/^[a-zA-Z0-9_]*$/"
                                   required
                                   ng-disabled="$root.universalDisable">
                    <span class="form-error-notice"
                          ng-show="registrationForm.password2.$error.required"
                          ng-if='registrationForm.password2.$dirty'>
                        <small>This is a required field:</small>
                    </span>
                    <span class="form-error-notice"
                          ng-show="registrationForm.password2.$error.minlength"
                          ng-if='registrationForm.password2.$dirty'>
                        <small>Minimum length required is 4:</small>
                    </span>
                    <span class="form-error-notice"
                          ng-show="registrationForm.password2.$error.maxlength"
                          ng-if='registrationForm.password2.$dirty'>
                        <small>Maximum length required is 20:</small>
                    </span>
                    <span class="form-error-notice"
                          ng-show="registrationForm.password2.$error.pattern"
                          ng-if='registrationForm.password2.$dirty'>
                        <small>Only letters, numbers and underscores allowed:</small>
                    </span>
                    <span class="form-error-notice"
                          ng-show="registrationDetails.password1 != registrationDetails.password2"
                          ng-if="registrationForm.password1.$dirty && registrationForm.password2.$dirty">
                        <small>Passwords do not match:</small>
                    </span>
                        </div>

                        <!--invitation code-->
                        <div class="form-group">
                            <label for="code">Invitation code</label>
                            <input type="password"
                                   class="form-control"
                                   id="code"
                                   ng-model="registrationDetails.invitationCode"
                                   ng-minlength="4"
                                   ng-maxlength="10"
                                   ng-pattern="/^[a-zA-Z0-9_]*$/"
                                   required
                                   ng-disabled="$root.universalDisable"
                                   name="invitationCode">
            <span class="form-error-notice"
                  ng-show="registrationForm.invitationCode.$error.required"
                  ng-if='registrationForm.invitationCode.$dirty'>
                <small>This is a required field:</small>
            </span>
            <span class="form-error-notice"
                  ng-show="registrationForm.invitationCode.$error.minlength"
                  ng-if='registrationForm.invitationCode.$dirty'>
                <small>Minimum length required is 4:</small>
            </span>
            <span class="form-error-notice"
                  ng-show="registrationForm.invitationCode.$error.maxlength"
                  ng-if='registrationForm.invitationCode.$dirty'>
                <small>Maximum length required is 10:</small>
            </span>
            <span class="form-error-notice"
                  ng-show="registrationForm.invitationCode.$error.pattern"
                  ng-if='registrationForm.invitationCode.$dirty'>
                <small>Only letters, numbers and underscores allowed:</small>
            </span>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-default btn-lg btn-block"
                                    ng-disabled="registrationForm.$invalid || $root.universalDisable"
                                    ng-click="createAccount()">CREATE MY ACCOUNT
                            </button>
                        </div>

                    </form>
                </div>


                <div class="row text-center">
                    <div class="padding-top-20 padding-bottom-15">
                        Have an account?
                    </div>

                    <a class="btn btn-xl"
                       href="#login"
                       du-smooth-scroll du-scrollspy
                       ng-click="changeUserLoginState('signIn')">SIGN IN
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>