.no-padding {
    padding: 0;
}

.no-padding-side {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-20 {
    padding-top: 20px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.no-margin {
    margin: 0;
}

.no-margin-side {
    margin-left: 0;
    margin-right: 0;
}

.no-margin-left {
    margin-left: 0;
}

.no-margin-right {
    margin-right: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-border {
    border: 0;
}

.no-border-side {
    border-left: 0;
    border-right: 0;
}

.no-border-left {
    border-left: 0;
}

.no-border-right {
    border-right: 0;
}

.no-border-top {
    border-top: 0;
}

.no-border-bottom {
    border-bottom: 0;
}