<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="UniversalController">
<head>

    <% include ../scripts/head.ejs %>

    <!-- loads custom css file -->
    <link rel="stylesheet" href="/public/cssmin/index/index.min.css">

    <title>Negus Math - College Level Advanced Mathematics for Kenya Students</title>
</head>

<body ng-controller="MainController">

<notifications-bar class="notifications" closeIcon="fa fa-times-circle"></notifications-bar>

<div toastr-directive></div>

<% include ../all/partials/components-pre/top_nav_minimal.ejs %>

<div notifications-bar class="notifications" closeIcon="fa fa-times-circle"></div>

<div id="top"></div>

<header id="top">
    <div class="container">
        <div class="intro-text animated pulse">
            <div class="intro-heading">NEGUS MATH</div>
            <div class="intro-lead-in">College Level Advanced Mathematics for Kenya Students</div>

            <% if (theUser && theUser.isRegistered) { %>

            <div>
                <a href="#services"
                   target="_self"
                   du-smooth-scroll
                   class="btn btn-md btn-default btn-config">ABOUT
                </a>
                <a href="#contact"
                   target="_self"
                   du-smooth-scroll
                   class="btn btn-md btn-default btn-config">CONTACT
                </a>
            </div>

            <% } else { %>

            <div>
                <a href="#login"
                   target="_self"
                   du-smooth-scroll
                   ng-click="changeUserLoginState('register')"
                   class="btn btn-md btn-default btn-config">REGISTER
                </a>
                <a href="#login"
                   target="_self"
                   du-smooth-scroll
                   ng-click="changeUserLoginState('signIn')"
                   class="btn btn-md btn-default btn-config">SIGN IN
                </a>
            </div>

            <% } %>

            <% include ../general/templates/account_status.ejs %>

            <% if (theUser && accountStatusBanner.accountStatus) { %>

            <div>
                <a href="/"
                   target="_self"
                   class="btn btn-xl">Continue to the forums
                </a>
            </div>

            <% } %>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="section-heading">What we do</h2>

                <h3 class="section-subheading text-muted">We are a non-profit organisation focused on helping
                    students with potential Mathematics talents all across Sub-Saharan Africa achieve their goals.
                    We want to spread awareness of College Level Mathematics to every corner of Africa, something
                    that has been missing for decades.</h3>
            </div>
        </div>
    </div>
</section>

<% if (!theUser) { %>

<section id="login" account-outer-scope>

    <!--login form-->
    <% include views/sign_in.ejs %>
    <!--end of login form-->


    <!--registration form-->
    <% include views/create_account.ejs %>
    <!--end of registration form-->
</section>

<% } %>

<% include ../all/partials/components-pre/contact_us.ejs %>

<% include ../all/partials/components-pre/main_footer.ejs %>

<!--including templates-->
<% include ../../views/scripts/ejs-includes.ejs %>

<!-- JAVASCRIPT -->

<% include ../scripts/bottom.ejs %>

<!--<script type="text/javascript" src="/public/angular_assets/indexAppMin/concatenated.js"></script>-->
<script type="text/javascript" src="/public/angular_assets/indexAppMin/concatenated.min.js"></script>

</body>
</html>