<!--showing suggested posts-->
<div ng-show="showSuggestedPosts"
     class="ng-cloak">
    <div class="panel-heading"><i class="fa fa-leanpub"></i> SUGGESTED POSTS
            <span class="pull-right">
            <a ng-href="/#!/home/1"><i class="fa fa-arrow-left"></i> Home</a>
            </span>
    </div>

    <ul class="list-unstyled animated fadeIn">
        <li class="list-unstyled post clearfix"
            ng-repeat="post in suggestedPosts">
            <div class="card">

                <div class="card-content">

                    <h2 class="text-outputs postHeading"><a ng-href="/#!/post/{{post.postIndex}}"
                                                            ng-click="goToTop()"
                                                            ng-bind-html="post.postHeading"></a>
                    </h2>

                    <h3 class="text-muted postBy">
                        <small>
                            <a class="btn-link"
                               ng-bind-html="post.authorName"></a> on
                            <span ng-bind-html="post.postDate"></span>
                        </small>
                        <br/>
                        <small class="text-muted"
                               ng-bind-html="post.timeAgo">
                        </small>
                    </h3>

                    <div post-summary model="post.postSummary"></div>


                </div>
                <div class="card-action clearfix">

                    <div class="pull-right">
                        <a ng-href="/#!/post/{{post.postIndex}}"
                           ng-click="goToTop()"
                           class="btn btn-default btn-sm">Read More</a>
                    </div>

                </div>
            </div>
        </li>
    </ul>
</div>