<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="UniversalController">
<head>

    <% include ../scripts/head.ejs %>

    <!-- loads custom css file -->
    <link rel="stylesheet" href="/public/cssmin/index/index.min.css">

    <title>Not Logged In - Negus Math</title>
</head>

<body ng-controller="MainController">

<notifications-bar class="notifications" closeIcon="fa fa-times-circle"></notifications-bar>

<div toastr-directive></div>

<% include ../all/partials/components-pre/top_nav_minimal.ejs %>

<div notifications-bar class="notifications" closeIcon="fa fa-times-circle"></div>

<div id="top"></div>

<div class="container">

    <div class="jumbotron">
        <div class="container">
            <h1>Please sign in to continue...</h1>

            <p>You are not signed in</p>

            <p>
                <a class="btn btn-primary btn-lg"
                   href="#login"
                   target="_self"
                   du-smooth-scroll du-scrollspy>Sign In</a>
            </p>

            <% include ../general/templates/account_status.ejs %>

        </div>
    </div>

    <div>
        <div class="panel panel-default">
            <div>
                <div class="panel-heading"><a href ng-click="back()"
                                              target="_self"><i class="fa fa-arrow-left"></i> GO BACK</a></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div>
                <div class="panel-heading"><a href="/index"
                                              target="_self"><i class="fa fa-arrow-left"></i> GO TO INDEX
                        PAGE</a></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div>
                <div class="panel-heading"><a href="/"
                                              target="_self"><i class="fa fa-arrow-left"></i> GO TO HOME
                        PAGE</a></div>
            </div>
        </div>

    </div>

    <% if (!theUser) { %>

    <section id="login" account-outer-scope>

        <!--login form-->
        <% include ../index/views/sign_in.ejs %>
        <!--end of login form-->


        <!--registration form-->
        <% include ../index/views/create_account.ejs %>
        <!--end of registration form-->
    </section>

    <% } %>

    <% include ../all/partials/components-pre/contact_us.ejs %>

    <% include ../all/partials/components-pre/main_footer.ejs %>

</div>

<!--including all templates-->
<% include ../../views/scripts/ejs-includes.ejs %>

<!--including templates-->

<!-- JAVASCRIPT -->

<% include ../scripts/bottom.ejs %>

<script type="text/javascript" src="/public/angular_assets/indexAppMin/concatenated.min.js"></script>

</body>
</html>