<div class="panel panel-default">
    <div class="ng-cloak">
        <div class="panel-heading">Banned Users
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       placeholder="Filter banned users"
                       ng-model="bannedUsersModel.filterString">
                    <span class="input-group-addon" id="search-addon">
                        <a href ng-click=""><i class="fa fa-search"></i></a>
                    </span>
            </div>
        </div>

        <div class="panel-body">
            <div class="card">
                <div class="card-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-condensed ng-cloak">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in bannedUsers | filter: bannedUsersModel.filterString"
                                ng-hide="user.uniqueCuid == userData.uniqueCuid">
                                <td ng-bind="user.firstName + ' ' + user.lastName"></td>

                                <td><a class="btn btn-xs btn-default"
                                       href ng-click="unBanUser(user.uniqueCuid)">Reactivate</a></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
