<script type="text/ng-template" id="views/all/partials/templates/post-components/post_content.html">
    <div class="postContent">
        <div ta-bind
             ng-model="postContent"></div>
    </div>
</script>