<script type="text/ng-template" id="views/all/partials/templates/post-components/post_tags.html">
    <div class="pull-left">
                                <span ng-repeat="tagObject in postTags">
                                    <a class="btn btn-default btn-xs postTags"
                                       target="_self"
                                       ng-bind-html="tagObject.text"></a></span>
    </div>
</script>