<div class="panel panel-default"
     ng-controller="FullPostController">

    <div id="loading-splash-card">
        <div class="panel-body">
            <ul class="list-unstyled animated fadeIn">
                <li class="list-unstyled clearfix">

                    <div class="card"
                         id="loading-card">

                        <div class="card-content text-center" id="loading-card-content">

                            <h3 class="loading-text text-outputs">LOADING...</h3>

                            <div class="progress">
                                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                                     ng-attr-aria-valuenow="{{isLoadingPercentage}}"
                                     aria-valuemin="0" aria-valuemax="100"
                                     ng-attr-style="{{'width: ' + isLoadingPercentage + '%;'}}">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <!--the full post-->
    <div ng-show="showPost" class="ng-cloak">
        <div class="panel-heading"><a href ng-click="back()"><i class="fa fa-arrow-left"></i> BACK</a>
            <span class="pull-right hidden-sm hidden-xs"
                  ng-bind-html="post.postDate"></span>
        </div>

        <div class="panel-body">
            <ul class="list-unstyled animated fadeIn">
                <li class="list-unstyled clearfix"
                    ng-show="!editingMode">
                    <div class="card">

                        <div class="card-content">

                            <h1 class="text-outputs postHeading"
                                ng-bind-html="post.postHeading"></h1>

                            <h3 class="text-muted postBy">
                                <small>
                                    <a class="btn-link"
                                       ng-bind-html="post.authorName"></a> on
                                    <span ng-bind-html="post.postDate"></span>
                                </small>
                                <br/>
                                <small class="text-muted"
                                       ng-bind-html="post.theTimeAgo">
                                </small>
                            </h3>

                            <div class="postContent">
                                <div ta-bind
                                     ng-model="post.postContent"></div>
                            </div>

                        </div>

                        <div class="card-action clearfix">
                            <div id="postTags"
                                 class="pull-left">
                                <span ng-repeat="tagObject in post.postTags">
                                    <a class="btn btn-default btn-xs postTags"
                                       target="_self"
                                       ng-bind-html="tagObject.text"></a> </span>
                            </div>
                        </div>

                    </div>
                </li>

                <li class="list-unstyled clearfix">
                    <div id="disqus-div">
                        <dir-disqus disqus-shortname="negusmathproduction"
                                    disqus-identifier="{{post.postUniqueCuid}}"
                                    disqus-title="{{ post.postHeading }}"
                                    disqus-url="{{post.postUrl}}"
                                    ready-to-bind="{{postIsLoaded}}">
                        </dir-disqus>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--showing suggested posts-->
    <div ng-show="showSuggestedPosts" class="ng-cloak">
        <div class="panel-heading"><i class="fa fa-leanpub"></i> SUGGESTED POSTS
            <span class="pull-right">
            <a ng-href="/#!/home/1"><i class="fa fa-arrow-left"></i> Home</a>
            </span>
        </div>

        <ul class="list-unstyled animated fadeIn">
            <li class="list-unstyled post clearfix"
                ng-repeat="post in suggestedPosts">
                <div class="card">

                    <div class="card-content">

                        <h2 class="text-outputs postHeading"><a ng-href="/#!/post/{{post.postIndex}}"
                                                                         ng-click="goToTop()"
                                                                         ng-bind-html="post.postHeading"></a>
                        </h2>

                        <h3 class="text-muted postBy">
                            <small>
                                <a class="btn-link"
                                   ng-bind-html="post.authorName"></a> on
                                <span ng-bind-html="post.postDate"></span>
                            </small>
                            <br/>
                            <small class="text-muted"
                                   ng-bind-html="post.theTimeAgo">
                            </small>
                        </h3>

                        <div class="postContent">
                            <div ta-bind
                                 ng-model="post.postSummary"></div>
                        </div>


                    </div>
                    <div class="card-action clearfix">

                        <div class="pull-right">
                            <a ng-href="/#!/post/{{post.postIndex}}"
                               ng-click="goToTop()"
                               class="btn btn-default btn-sm">Read More</a>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>