<section class="no-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 postStream">
                <div loading-banner></div>

                <div ng-if="$root.$state.current.name == 'home'">
                    <div post-stream></div>
                </div>

                <div ui-view></div>

            </div>

            <div class="col-lg-4 sideBarColumn col-lg-offset-0 hideMobileLearning hidden-xs hidden-sm">

                <div class="panel panel-default">

                    <div class="panel-heading"><i class="fa fa-youtube-play"></i> THIS WEEK'S VIDEOS
                    </div>

                    <div class="panel-body">
                        <div class="card">

                            <div class="card-content">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item"
                                            src="https://www.youtube.com/embed/PIVd4imGkjI"
                                            frameborder="0"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                        <br/>

                        <div class="card">

                            <div class="card-content">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item"
                                            src="https://www.youtube.com/embed/adKP2CzKaFM"
                                            frameborder="0"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-controller="HotController">
                    <div class="panel panel-default"
                         ng-if="hotThisWeek.length > 0">

                        <div class="panel-heading"><i class="fa fa-fire"></i> HOT THIS WEEK
                        </div>

                        <div class="panel-body">

                            <ul class="list-group no-margin-bottom">
                                <li class="list-group-item post"
                                    ng-repeat="hotPost in hotThisWeek">
                                    <p class="text-outputs">
                                        <a ng-href="{{hotPost.postPath}}"
                                           ng-click="$root.main.goToTop()"
                                           ng-bind-html="hotPost.postHeading">
                                        </a> <br/>
                                    <h6 class="text-muted">
                                        <small>
                                            <a class="btn-link"
                                               ng-bind-html="hotPost.authorName"></a> on
                                            <span ng-bind-html="hotPost.postDate"></span>
                                        </small>
                                        <br/>
                                        <small class="text-muted"
                                               ng-bind-html="hotPost.timeAgo">
                                        </small>
                                    </h6>
                                    </p>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>