<div class="container">
    <div class="row">
        <div class="col-lg-12 site-search-div">
            <form id="site-search">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Search"
                           ng-model="mainSearchModel.queryString">
                    <span class="input-group-addon" id="search-addon">
                        <a href ng-click="performMainSearch()"><i class="fa fa-search"></i></a></span>
                </div>
            </form>
        </div>
    </div>
</div>