<section class="no-padding small-font"
         ng-controller="UserManagerController">
    <div class="container-fluid container-fluid">

        <div class="col-lg-4">
            <div users-count></div>
        </div>

        <div class="col-lg-4">
            <div banned-users></div>
            <div all-users></div>
        </div>

        <div class="col-lg-4">
            <div admin-users></div>
        </div>

        <div class="col-lg-4">
            <div un-approved-users></div>
        </div>

    </div>
</section>