.allBannerOuterDivs {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

div.alert.alert-success, div.alert.alert-warning, div.alert.alert-info {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div#universalBanner {
    padding: 0;
}

.btn-xl {
    margin: 0.6em;
    padding: 10px 10px;
    border-color: #fed136;
    border-radius: 3px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.btn-create-account {
    padding: 20px 40px;
    border-radius: 3px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.btn-config {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
}

.card-post-highlight {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
    position: relative;
    overflow: hidden;
}

.card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    z-index: -1;
}

.card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}

.card .card-content {
    padding: 8px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}

.card .card-content-post-highlight {
    padding: 1em;
}

.card .card-content p {
    margin: 0;
}

.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 7px;
}

.card .card-action a {
    /*text-transform: uppercase;*/
}

/*custom additions*/
div.card {
    margin-top: 0;
    margin-bottom: 0;
}
section#contact {
    /*background-color: #222;*/
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    /*color: #fff;*/
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 10px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 200px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #bbb;
}
.container-fluid {
    padding-right: 1.5em;
    padding-left: 1.5em;
}
div#disqus-div {
    padding: 1.3em;
}
body {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    font-size: 1.4em;
    line-height: 1.4em;
}

.small-font {
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    font-size: 0.9em;
}

.very-small-font {
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    font-size: 0.7em;
}

.text-outputs {
    word-wrap: break-word;
}
footer {
    padding: 25px 0;
    text-align: center;
    background: #fff;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
}
.form-error-notice {
    color: rgb(169, 68, 66);
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    font-size: 0.7em;
}

.form-help-notice {
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    font-size: 0.7em;
}

.required-star {
    display: inline;
    color: rgb(169, 68, 66);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.column-heading {
    font-size: 1.5em;
    margin-top: 1.5em;
}
/*make all images responsive*/
img {
    display: block;
    height: auto;
    max-width: 100%;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}
/*angular js*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.container {
    width: 970px;
    max-width: none !important;
}

/*disabling responsiveness*/
.navbar-brand {
    margin-left: -15px;
}

/*nav bar not collapse*/
.navbar-fixed-top,
.navbar-fixed-bottom {
    min-width: 970px;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav.navbar-right {
    float: right;
}
.no-padding {
    padding: 0;
}

.no-padding-side {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-20 {
    padding-top: 20px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.no-margin {
    margin: 0;
}

.no-margin-side {
    margin-left: 0;
    margin-right: 0;
}

.no-margin-left {
    margin-left: 0;
}

.no-margin-right {
    margin-right: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-border {
    border: 0;
}

.no-border-side {
    border-left: 0;
    border-right: 0;
}

.no-border-left {
    border-left: 0;
}

.no-border-right {
    border-right: 0;
}

.no-border-top {
    border-top: 0;
}

.no-border-bottom {
    border-bottom: 0;
}
.navbar {
    margin: 0;
}

.navbar-default .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.navbar-default {
    background-color: rgb(55, 73, 84);
}

.navbar-default .navbar-brand {
    color: #fed136;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #fed136;
}

.navbar-default .navbar-nav > .active > a {
    color: #fed136;
    background: none;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fec503;
    background: none;
}

.dropdown-menu {
    background-color: #222;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    color: #fed136;
    background-color: #222;
    background-image: none;
    filter: none;
}

.dropdown-toggle:active,
.open
.dropdown-toggle {
    background: #222 !important;
    color: #fed136 !important;
}
.panel-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
@media (min-width: 768px) {
    .postHeading {
        font-size: 18px;
    }

    .postBy {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .postHeading {
        font-size: 15px;
    }

    .postBy {
        font-size: 11px;
    }
}

div.panel-body {
    padding: 0;
}

@media (min-width: 768px) {
    div.postStream {
        padding-left: 0;
        padding-right: 0;
        background-color: #fff;
    }
}

@media (max-width: 767px) {
    div.postStream {
        padding-left: 0;
        padding-right: 0;
        background-color: #fff;
    }
}
/*search highlight*/
.highlight {
    background-color: yellow
}

.site-search-div {
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-bottom: 1.5em;
}

@media (max-width: 767px) {

    .site-search-div {
        padding-left: 0.7em;
        padding-right: 0.7em;
    }
}

section {
    padding: 30px 0;
}

@media (min-width: 768px) {
    section {
        padding: 40px 0;
    }
}
@media (max-width: 767px) {
    div.sideBarColumn {
        padding-left: 0;
        padding-right: 0;
        background-color: #fff;
    }
}
body {
}