body {
    padding-top: 70px;
}

div#universalBanner {
    padding: 0;
}

div#loading-card {
    display: table;
    height: 80vh;
    width: 100%;
}

div#loading-card-content {
    display: table-cell;
    vertical-align: middle;
    /*height: 100%;*/
    width: 100%;
}

section {
    padding: 30px 0;
}

@media (min-width: 768px) {
    section {
        padding: 40px 0;
    }
}

@media (max-width: 767px) {
    section#postsSection {
        padding: 0;
    }
}

.panel-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

@media (min-width: 768px) {
    .postHeading {
        font-size: 18px;
    }

    .postBy {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .postHeading {
        font-size: 15px;
    }

    .postBy {
        font-size: 11px;
    }
}

div.panel-body {
    padding: 0;
}

div#disqus-div {
    padding: 1.3em;
}

div.card {
    margin-top: 0;
    margin-bottom: 0;
}

li.post {
    margin-bottom: 0.7em;
}

ul.videosThisWeek {
    margin-bottom: 0;
}

ul.hotThisWeek {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    div#postStream {
        padding-left: 0;
        padding-right: 0;
        background-color: #fff;
    }
}

@media (max-width: 767px) {
    div#postStream {
        padding-left: 0;
        padding-right: 0;
        background-color: #fff;
    }

    div#sideBarColumn {
        padding-left: 0;
        padding-right: 0;
        background-color: #fff;
    }
}

section#contact {
    background-color: #222;
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 10px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 200px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #bbb;
}