<div full-post-scope>
    <div class="panel panel-default">
        <div>
            <div class="panel-heading"><a href ng-click="back()"><i class="fa fa-arrow-left"></i> BACK</a></div>

            <div class="panel-body" ng-if="main.post.postUniqueCuid">
                <ul class="list-unstyled animated fadeIn">
                    <li class="list-unstyled clearfix">
                        <div class="card">

                            <div class="card-content">

                                <h1 class="text-outputs postHeading"
                                    ng-bind-html="main.post.postHeading"></h1>

                                <h3 class="text-muted postBy">
                                    <small>
                                        <a class="btn-link"
                                           ng-bind-html="main.post.authorName"></a> on
                                        <span ng-bind-html="main.post.postDate"></span>
                                    </small>
                                    <br/>
                                    <small class="text-muted"
                                           ng-bind-html="main.post.timeAgo">
                                    </small>
                                </h3>

                                <div post-content model="main.post.postContent"></div>
                            </div>

                            <div class="card-action clearfix">
                                <div post-tags model="main.post.postTags"></div>

                                <div class="pull-right">
                                    <a class="btn-link btn btn-default btn-sm"
                                       ng-href="/#!/home/editPost/{{main.post.postIndex}}"
                                       ng-click="$root.main.goToTop()">Edit</a>
                                    <!--<a class="btn-link btn btn-default btn-sm"-->
                                    <!--href ng-click="trashPost(main.post.postUniqueCuid)">Delete</a>-->
                                    <a trash-post-dir model="post"></a>
                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="list-unstyled clearfix">
                        <div id="disqus-div">
                            <dir-disqus disqus-shortname="negusmathproduction"
                                        disqus-identifier="{{main.post.postUniqueCuid}}"
                                        disqus-title="{{ main.post.postHeading }}"
                                        disqus-url="{{main.post.postAbsoluteUrl}}"
                                        ready-to-bind="{{main.postIsLoaded}}">
                            </dir-disqus>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div ng-if="!main.isLoading">
    <div suggested-posts></div>
</div>